@import url("/css/hljs-github.css");
.body {
  line-height: 2em;
  padding-left: 50px;
  padding-right: 50px;
}
.post-inner,
.post-inner--toc {
  margin: 0 auto;
  max-width: 900px;
}
.post-inner--toc,
.post-inner--toc--toc {
  max-width: 760px;
  padding-right: 230px;
}
.post-inner--toc .post-content__body,
.post-inner--toc--toc .post-content__body {
  max-width: 760px;
}
.post-inner .video-container,
.post-inner--toc .video-container {
  height: 0;
  margin-bottom: 20px;
  overflow: hidden;
  padding-top: 75%;
  position: relative;
  width: 100%;
}
.post-inner .video-container iframe,
.post-inner--toc .video-container iframe {
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.post-content {
  padding: 10px 0;
  margin: 0 auto;
}
.post-gallery {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}
.post-title {
  font-size: 30px;
}
.post-content__head {
  margin: 40px 0;
}
.toc-outer {
  opacity: 0.9;
  position: sticky;
  top: 60px;
  float: right;
  margin-right: -230px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  width: 230px;
  color: #666;
}
.toc-outer .toc-title,
.toc-outer .toc-top {
  display: inline-block;
  padding: 8px 0;
  color: #555;
  font-size: 0.875em;
}
.toc-outer .toc-title {
  border-top: 2px solid #eff2f3;
}
.post-toc,
.post-toc--attached,
.post-toc--bottom,
.post-toc--attached--bottom {
  width: 100%;
  text-align: left;
  margin: 0;
  padding-left: 30px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  line-height: 1.25em;
}
.post-toc a,
.post-toc--attached a,
.post-toc--bottom a,
.post-toc--attached--bottom a {
  text-decoration: none;
}
.post-toc ol,
.post-toc--attached ol,
.post-toc--bottom ol,
.post-toc--attached--bottom ol,
.post-toc li,
.post-toc--attached li,
.post-toc--bottom li,
.post-toc--attached--bottom li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.post-toc--attached,
.post-toc--attached--attached,
.post-toc--bottom--attached,
.post-toc--attached--bottom--attached {
  position: fixed;
}
.post-toc .toc-number,
.post-toc--attached .toc-number,
.post-toc--bottom .toc-number,
.post-toc--attached--bottom .toc-number {
  font-size: 80%;
}
.post-toc .toc-level-2,
.post-toc--attached .toc-level-2,
.post-toc--bottom .toc-level-2,
.post-toc--attached--bottom .toc-level-2 {
  font-size: 15px;
  margin: 5px 0;
}
.post-toc .toc-level-3,
.post-toc--attached .toc-level-3,
.post-toc--bottom .toc-level-3,
.post-toc--attached--bottom .toc-level-3 {
  font-size: 14px;
  padding-left: 10px;
}
.post__foot {
  max-width: 900px;
  margin: 100px auto;
}
.post-nav {
  position: relative;
  margin-top: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.post-nav .vhr {
  position: absolute;
  height: 50px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #f5f5f5;
  width: 1px;
}
.post-nav-item,
.post-nav-item-left,
.post-nav-item-right,
.post-nav-item-left-right {
  text-decoration: none;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.post-nav-item-left,
.post-nav-item-left-left,
.post-nav-item-right-left,
.post-nav-item-left-right-left {
  align-items: flex-start;
  padding-right: 15px;
}
.post-nav-item-right,
.post-nav-item-left-right,
.post-nav-item-right-right,
.post-nav-item-left-right-right {
  align-items: flex-end;
  padding-left: 15px;
}
.related-post {
  margin: 40px 0;
}
@media screen and (max-width: 760px) {
  .post-inner--toc {
    padding: 0;
  }
  .post-inner--toc .post-content__body {
    max-width: 100%;
  }
  .toc-outer {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .body {
    padding-left: 30px;
    padding-right: 30px;
  }
  .post-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
